{{#if loggedIn}}
  <div class="container-fluid">
    <div id="sortableKanbanBoards" class="column">

      <div class="panel panel-primary kanban-col">
        <div class="panel-heading">
          TO DO
          <i class="fa fa-2x fa-plus-circle pull-right"></i>
        </div>
        <div class="panel-body">
          <div id="TODO" class="kanban-centered">

            <article class="kanban-entry grab" id="item1" draggable="true">
              <div class="kanban-entry-inner">
                <div class="kanban-label">
                  <h2><a href="#">Manager #{{manager.id}}</a>
                  </h2>
                  <p>Employee #{{employee.id}}
                    last day was
                    {{employee.last_day}}. Their symptoms began
                    {{symptom_start}}.</p>
                </div>
              </div>
            </article>

          </div>
        </div>
        <div class="panel-footer">
          <a href="#">Add a card...</a>
        </div>
      </div>

      <div class="panel panel-primary kanban-col">
        <div class="panel-heading">
          In Progress
          <i class="fa fa-2x fa-plus-circle pull-right"></i>
        </div>
        <div class="panel-body">
          <div id="DOING" class="kanban-centered">

            <article class="kanban-entry grab" id="item5" draggable="true">
              <div class="kanban-entry-inner">

                <div class="kanban-label">
                  <h2><a href="#">Manager #{{manager.id}}</a>
                  </h2>
                  <p>Employee #{{employee.id}}
                    last day was
                    {{employee.last_day}}. Their symptoms began
                    {{symptom_start}}.</p>
                </div>
              </div>
            </article>

          </div>
        </div>
        <div class="panel-footer">
          <a href="#">Add a card...</a>
        </div>
      </div>

      <div class="panel panel-primary kanban-col">
        <div class="panel-heading">
          Completed
          <i class="fa fa-2x fa-plus-circle pull-right"></i>
        </div>
        <div class="panel-body">
          <div id="DONE" class="kanban-centered">

            <article class="kanban-entry grab" id="item5" draggable="true">
              <div class="kanban-entry-inner">

                <div class="kanban-label">
                  <h2><a href="#">Manager #{{manager.id}}</a>
                  </h2>
                  <p>Employee #{{employee.id}}
                    last day was
                    {{employee.last_day}}. Their symptoms began
                    {{symptom_start}}.</p>
                </div>
              </div>
            </article>

          </div>
        </div>
        <div class="panel-footer">
          <a href="#">Add a card...</a>
        </div>
      </div>

    </div>
  </div>

  <div
    class="modal modal-static fade"
    id="processing-modal"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="text-center">
            <i class="fa fa-refresh fa-5x fa-spin"></i>
            <h4>Processing...</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}